/*.menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
  text-align: center;
}
*/
#footer{
	margin-top: 0px;
	padding-bottom: 20px;
}
#footer .col-md-10{
	padding-top: 35px;
	
}
li>a{
	color: #777;
	text-decoration: none;
}
a:hover {
	color: #333;
	background-color: transparent;
	text-decoration: none;
}
body{
	background-color: #e3e3e3;
	background-image: url('//4.bp.blogspot.com/-kDHDyPIzCEA/VuEzaNMg5eI/AAAAAAAAAW4/O18b12uYZ0M/s000/bg.png');
	background-repeat: repeat;
	background-position: top left;
	background-attachment: fixed;
}
.col-sm-10{
	background: #f2f2f2;
	margin-bottom: 50px;
	padding: 30px 70px 30px;
}
.ajax-load
{
	background: #e1e1e1;
	padding: 10px 0px;
	width: 100%;
}


.date {
	background: url(http://2.bp.blogspot.com/-rgbMJms0Tzw/VuEzZ9P-qlI/AAAAAAAAAW0/M-Wn5H0S4jk/s000/sprite.png) bottom left no-repeat;
	float: left;
	margin-left: -100px;
	padding-bottom: 14px;
	width: 90px;
}
.date p {
	background: #eb374b;
	color: #fff;
	font-family: Arvo, Cambria, Georgia, Times, serif;
	font-size: 0.75em;
	line-height: 1.1;
	margin-bottom: 0;
	padding: 5px 10px;
	text-align: right;
	text-transform: uppercase;
}
.date {
	clear: both;
	display: block;
	font-size: 1.2em;
}
.date .day {
	clear: both;
	display: block;
	font-size: 2em;
}
